# Case Study on Airbnb Properties

Q1. **Import `Pandas` and `NumPy` libraries**

In [1]:
import pandas as pd 
import numpy as np

Q2. **Read the dataset with the index column as `id` and display the first 5 rows of the DataFrame.**

In [41]:
prop_df = pd.read_csv(r'C:\Users\anves\Desktop\python data analysis\python daily classes\airbnb.csv',index_col='id')

prop_df.head(5)

,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,response_time,acceptance_rate,host_since,last_review,num_reviews,latitude,longitude,minimum_nights,maximum_nights
id,,,,,,,,,,,,,,,,,,
3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,a few days or more,67%,2008-11-26,2021-08-09,76,38.86339,-76.98889,2,365
3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,NaN,NaN,2008-12-12,2021-09-11,434,38.91195,-77.00456,2,1125
4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,within a few hours,NaN,2008-12-30,2019-07-05,102,38.90585,-76.94469,30,180
4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,within an hour,85%,2009-01-26,2016-09-22,31,38.91409,-76.99368,2,365
5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,within a few hours,11%,2009-01-13,2020-03-05,95,38.91887,-77.04008,5,24

Q3. **Get the complete description of the metadata of the DataFrame.**

In [3]:
prop_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7805 entries, 0 to 7804
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7805 non-null   int64
 1   neighborhood      7805 non-null   object
 2   room_type         7805 non-null   object
 3   accommodates      7805 non-null   int64
 4   bedrooms          7021 non-null   float64
 5   price             7805 non-null   int64
 6   security_deposit  7805 non-null   int64
 7   cleaning_fee      7805 non-null   int64
 8   rating            5912 non-null   float64
 9   superhost         7805 non-null   int64
 10  response_time     5002 non-null   object
 11  acceptance_rate   5407 non-null   object
 12  host_since        7795 non-null   object
 13  last_review       5912 non-null   object
 14  num_reviews       7805 non-null   int64
 15  latitude          7805 non-null   float64
 16  longitude         7805 non-null   float64
 17  minimum_nights    7805 non-null   int64
 18  maximum_nights    7805 non-null   int64
dtypes: float64(4), int64(9), object(6)
memory usage: 3.6 MB

Q4. **Get the `count` and the `percentage` of missing values in all of the columns rounded to 2 decimals.**

In [45]:
missing_vals = prop_df.isna()

In [43]:
missing_vals.sum()

neighborhood           0
room_type              0
accommodates           0
bedrooms             784
price                  0
security_deposit       0
cleaning_fee           0
rating              1893
superhost              0
response_time       2803
acceptance_rate     2398
host_since            10
last_review         1893
num_reviews            0
latitude               0
longitude              0
minimum_nights         0
maximum_nights         0
dtype: int64

In [47]:
missing_vals.mean().round(2)

neighborhood        0.00
room_type           0.00
accommodates        0.00
bedrooms            0.10
price               0.00
security_deposit    0.00
cleaning_fee        0.00
rating              0.24
superhost           0.00
response_time       0.36
acceptance_rate     0.31
host_since          0.00
last_review         0.24
num_reviews         0.00
latitude            0.00
longitude           0.00
minimum_nights      0.00
maximum_nights      0.00
dtype: float64

Q5. **Get the sum of the `price`, `security_deposit` and `cleaning_fee` columns without using the `+` operator, name it as `total_cost` and insert the same after the `cleaning_fee` column.**

In [6]:
total_price = prop_df[['price','security_deposit','cleaning_fee']].sum(axis=1)

In [7]:
total_price

0       105
1       121
2       129
3       149
4       149
       ...
7800    349
7801    250
7802    140
7803    139
7804    234
Length: 7805, dtype: int64

Q6. **Drop the columns `lattitude` and `longitude` without re-assigning to a variable.**

In [8]:
prop_df.drop(['latitude','longitude'],axis=1)

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,response_time,acceptance_rate,host_since,last_review,num_reviews,minimum_nights,maximum_nights
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,a few days or more,67%,2008-11-26,2021-08-09,76,2,365
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,NaN,NaN,2008-12-12,2021-09-11,434,2,1125
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,within a few hours,NaN,2008-12-30,2019-07-05,102,30,180
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,within an hour,85%,2009-01-26,2016-09-22,31,2,365
4,5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,within a few hours,11%,2009-01-13,2020-03-05,95,5,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7800,52261187,Downtown,Entire home/apt,2,1.0,299,0,50,NaN,0,NaN,100%,2021-02-13,NaN,0,1,365
7801,52263116,Near Southeast,Entire home/apt,2,1.0,200,50,0,NaN,0,NaN,NaN,2016-12-05,NaN,0,1,365
7802,52269279,Brightwood Park,Private room,2,1.0,40,50,50,NaN,0,within an hour,94%,2015-06-15,NaN,0,5,1125
7803,52271085,West End,Entire home/apt,2,1.0,139,0,0,NaN,0,NaN,100%,2020-12-24,NaN,0,1,365
7804,52281658,Edgewood,Entire home/apt,7,2.0,134,0,100,NaN,0,within an hour,94%,2019-05-05,NaN,0,2,1125

Q7. **Drop the columns `minimum_nights` and `maximum_nights` without disturbing the original structure of the DataFrame.**

In [9]:
prop_df_copy = prop_df.copy()
prop_df_copy.drop(columns=['minimum_nights', 'maximum_nights'], inplace=True)

Q8. **Rename the index to `property_id`.**

Q9. **Convert the `acceptance_rate` column from object to float by removing the `%` symbol.**

In [10]:
prop_df['acceptance_rate'].apply(lambda x: type(x))

0         <class 'str'>
1       <class 'float'>
2       <class 'float'>
3         <class 'str'>
4         <class 'str'>
             ...
7800      <class 'str'>
7801    <class 'float'>
7802      <class 'str'>
7803      <class 'str'>
7804      <class 'str'>
Name: acceptance_rate, Length: 7805, dtype: object

Q10. **Get the unique values for each of the `object` columns, displaying the output as a `Series`.**

In [11]:
def conv_acc_rate(x):
    if pd.isnull(x):
        return np.nan
    else:
        return int(x[:-1]) / 100

In [12]:
obj_cols = prop_df.columns[prop_df.dtypes == 'object']

prop_df[obj_cols].nunique()

neighborhood         39
room_type             4
response_time         4
acceptance_rate      91
host_since         2437
last_review        1255
dtype: int64

In [13]:
for col in obj_cols:
    print(pd.Series(prop_df[col].unique()))
    print('')

0            Historic Anacostia
1                      Edgewood
2              Eastland Gardens
3              Kalorama Heights
4                 Spring Valley
5                 Dupont Circle
6             Cathedral Heights
7              Columbia Heights
8                          Shaw
9                 Union Station
10              Brightwood Park
11    Southwest Employment Area
12                     Ivy City
13            Howard University
14                       Takoma
15                 Capitol Hill
16                     Downtown
17             Congress Heights
18             Colonial Village
19                     Sheridan
20                 Lamont Riggs
21                   Georgetown
22                 Capitol View
23               Cleveland Park
24                      Douglas
25           Friendship Heights
26                     West End
27                    Brookland
28                    Hawthorne
29          North Michigan Park
30                      Mayfair
31              Fairfax Village
32                     Deanwood
33                    Woodridge
34         North Cleveland Park
35                River Terrace
36                      Twining
37               Near Southeast
38        Woodland/Fort Stanton
dtype: object

0       Private room
1    Entire home/apt
2        Shared room
3         Hotel room
dtype: object

0    a few days or more
1                   NaN
2    within a few hours
3        within an hour
4          within a day
dtype: object

0     67%
1     NaN
2     85%
3     11%
4     96%
     ...
87    47%
88    66%
89    19%
90    31%
91    42%
Length: 92, dtype: object

0       2008-11-26
1       2008-12-12
2       2008-12-30
3       2009-01-26
4       2009-01-13
           ...
2433    2020-05-03
2434    2020-11-27
2435    2019-09-22
2436    2021-09-13
2437    2020-03-05
Length: 2438, dtype: object

0       2021-08-09
1       2021-09-11
2       2019-07-05
3       2016-09-22
4       2020-03-05
           ...
1251    2021-03-26
1252    2021-01-25
1253    2021-05-03
1254    2021-04-29
1255    2021-03-03
Length: 1256, dtype: object

Q11. **Get the `top-10` and the `bottom-10 neighborhoods` for a `Private room` along with the `number of appearances` in the DataFrame.**

In [14]:
prop_df_pvt_room = prop_df[prop_df['room_type'] == 'Private room']
prop_df_pvt_room

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,response_time,acceptance_rate,host_since,last_review,num_reviews,latitude,longitude,minimum_nights,maximum_nights
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,a few days or more,67%,2008-11-26,2021-08-09,76,38.863390,-76.988890,2,365
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,NaN,NaN,2008-12-12,2021-09-11,434,38.911950,-77.004560,2,1125
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,within a few hours,NaN,2008-12-30,2019-07-05,102,38.905850,-76.944690,30,180
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,within an hour,85%,2009-01-26,2016-09-22,31,38.914090,-76.993680,2,365
6,9097,Kalorama Heights,Private room,1,1.0,42,50,25,4.86,0,within a few hours,11%,2009-01-13,2019-10-30,112,38.919660,-77.043060,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7789,52240462,Dupont Circle,Private room,2,NaN,158,100,0,NaN,0,within an hour,97%,2018-10-08,NaN,0,38.904300,-77.041650,2,365
7791,52240980,Dupont Circle,Private room,2,NaN,173,50,100,NaN,0,within an hour,97%,2018-10-08,NaN,0,38.903540,-77.041500,2,365
7792,52242602,Dupont Circle,Private room,2,NaN,166,0,100,NaN,0,within an hour,97%,2018-10-08,NaN,0,38.902940,-77.042280,2,365
7798,52259402,Cathedral Heights,Private room,4,1.0,54,0,50,NaN,0,within a few hours,57%,2020-03-05,NaN,0,38.930070,-77.074490,1,7
7802,52269279,Brightwood Park,Private room,2,1.0,40,50,50,NaN,0,within an hour,94%,2015-06-15,NaN,0,38.939073,-77.028088,5,1125

Q12. **What is the `minimum`, `average`, `median` and `maximum number of persons` that an `Entire home/apt` accommodates?**

In [15]:
prop_df.loc[prop_df['room_type'] == 'Entire home/apt', 'accommodates'].mean()

4.104604691572546

In [16]:
prop_df.loc[prop_df['room_type'] == 'Entire home/apt', 'accommodates'].median()

4.0

In [17]:
prop_df.loc[prop_df['room_type'] == 'Entire home/apt', 'accommodates'].min()

1

Q13. **How many people can be `frequently accommodated` in a Hotel room?**

In [18]:
prop_df.loc[prop_df['room_type'] == 'Hotel room', 'accommodates'].mode()

0    6
Name: accommodates, dtype: int64

Q14. **What is the `average price` of an `Entire Home/apt` within `Capitol Hill`?**

Q15. **What is the `minimum price` of a `Shared room` that accommodates less than `5 people`?**

Q16. **What is the `average rating` for a property that has an `acceptance rate` of less than 50%?**

Q17. **What is the `minimum acceptance rate` for a property that is hosted by a `superhost`?**

Q18. **What `percentage of properties` are owned by a `superhost` whose response time is `within an hour`?**

Q19. **What is the `average rating` of the properties owned by hosts who take a `few days or more` to respond?**

Q20. **What is the `minimum rating` of a property that is `owned by a superhost`?**

Q21. **What is the `average acceptance rate` for a property whose host doesn't take `more than few days` to respond?**

Q22. **Rank the `Entire Home/apt` properties situated near `Howard University` based on the `total_cost`.**

Q23. **What percentage of superhosts don't charge any `cleaning_fee`?**

Q24. **What is the `minimum response time` for a property which has a `rating of less than 3` and the `acceptance rating` being `less than 50%`?**

Q25. **Get the `average number of reviews` for each `room_type`, `superhost` and `response_time`.**

In [19]:


prop_df.groupby(['room_type','superhost'])[['response_time']].mean()

C:\Users\anves\AppData\Local\Temp\ipykernel_13644\4156779405.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  prop_df.groupby(['room_type','superhost'])[['response_time']].mean()

Empty DataFrame
Columns: []
Index: [(Entire home/apt, 0), (Entire home/apt, 1), (Hotel room, 0), (Hotel room, 1), (Private room, 0), (Private room, 1), (Shared room, 0), (Shared room, 1)]

Q26. **Get the `count` of `ratings` grouped by `bedrooms` and `accomodates`.**

In [20]:

prop_df.groupby(['bedrooms','accommodates'])[['rating']].count().reset_index()

    bedrooms  accommodates  rating
0        1.0             1     414
1        1.0             2    1617
2        1.0             3     528
3        1.0             4     818
4        1.0             5      62
..       ...           ...     ...
67       7.0             7       0
68       7.0            12       1
69       7.0            16       2
70       8.0            16       1
71       9.0            16       2

[72 rows x 3 columns]

Q27. **Get the `average` number of people that can be `accomodated` for each `room type` and the `security deposit`.**

In [21]:

prop_df.groupby(['room_type','security_deposit'])[['accommodates']].mean().reset_index

<bound method DataFrame.reset_index of                                   accommodates
room_type       security_deposit
Entire home/apt 0                     3.981081
                25                    2.981061
                50                    3.934807
                100                   4.547807
                250                   6.163636
                400                   6.589286
Hotel room      0                     6.333333
                25                    5.428571
                50                    4.818182
Private room    0                     2.123577
                25                    1.849776
                50                    2.054575
                100                   2.760479
                250                   3.230769
                400                   3.166667
Shared room     0                     2.338462
                25                    2.358974
                50                    1.275000
                100                   2.833333>

Q28. **Get the `minimum price` for each category of `bedrooms`, `accomodates` and `cleaning fee`.**

In [22]:

prop_df.groupby(['bedrooms','accommodates','cleaning_fee'])['price'].min().reset_index()

     bedrooms  accommodates  cleaning_fee  price
0         1.0             1             0     10
1         1.0             1            25     23
2         1.0             1            50     20
3         1.0             1           100    100
4         1.0             1           150    999
..        ...           ...           ...    ...
201       7.0            16             0   1799
202       7.0            16           150   1514
203       8.0            16           100   1003
204       9.0            16             0    348
205       9.0            16           100    980

[206 rows x 4 columns]

Q29. **Get the `average minimum nights` for each `response time`, `room_type` and `superhost`.**

In [23]:

prop_df.groupby(['response_time','room_type','superhost'])[['minimum_nights']].mean().reset_index()

         response_time        room_type  superhost  minimum_nights
0   a few days or more  Entire home/apt          0        9.279661
1   a few days or more  Entire home/apt          1        2.000000
2   a few days or more     Private room          0       14.924242
3   a few days or more      Shared room          0       45.473684
4         within a day  Entire home/apt          0       17.981538
5         within a day  Entire home/apt          1        5.041096
6         within a day     Private room          0       15.762712
7         within a day     Private room          1        8.052632
8         within a day      Shared room          0        2.000000
9   within a few hours  Entire home/apt          0        9.300341
10  within a few hours  Entire home/apt          1        6.723926
11  within a few hours     Private room          0        6.387931
12  within a few hours     Private room          1        8.021277
13  within a few hours      Shared room          0        5.000000
14      within an hour  Entire home/apt          0       18.762457
15      within an hour  Entire home/apt          1        4.967619
16      within an hour       Hotel room          0        1.000000
17      within an hour       Hotel room          1       15.200000
18      within an hour     Private room          0       11.871308
19      within an hour     Private room          1        4.720183
20      within an hour      Shared room          0        2.271429
21      within an hour      Shared room          1        1.375000

Q30. **Get the `count` of `response_time` for each `neighborhood` and by `superhost`.**

In [24]:

prop_df.groupby(['neighborhood', 'superhost'])[['response_time']].count().reset_index()

             neighborhood  superhost  response_time
0         Brightwood Park          0            187
1         Brightwood Park          1             64
2               Brookland          0             47
3               Brookland          1             27
4            Capitol Hill          0            318
..                    ...        ...            ...
73               West End          1             15
74  Woodland/Fort Stanton          0              5
75  Woodland/Fort Stanton          1              0
76              Woodridge          0             21
77              Woodridge          1             13

[78 rows x 3 columns]

Q31. **Create a column `'avg_reviews_by_room_superhost'` to get the `average number of reviews` for each `room_type` and `superhost`.**

In [25]:

prop_df['avg_reviews_by_room_superhost'] = prop_df.groupby(['room_type','superhost'])[['num_reviews']].transform('mean')

In [26]:
prop_df

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,response_time,acceptance_rate,host_since,last_review,num_reviews,latitude,longitude,minimum_nights,maximum_nights,avg_reviews_by_room_superhost
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,a few days or more,67%,2008-11-26,2021-08-09,76,38.863390,-76.988890,2,365,24.740716
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,NaN,NaN,2008-12-12,2021-09-11,434,38.911950,-77.004560,2,1125,24.740716
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,within a few hours,NaN,2008-12-30,2019-07-05,102,38.905850,-76.944690,30,180,24.740716
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,within an hour,85%,2009-01-26,2016-09-22,31,38.914090,-76.993680,2,365,64.351899
4,5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,within a few hours,11%,2009-01-13,2020-03-05,95,38.918870,-77.040080,5,24,25.049204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7800,52261187,Downtown,Entire home/apt,2,1.0,299,0,50,NaN,0,NaN,100%,2021-02-13,NaN,0,38.904860,-77.030900,1,365,25.049204
7801,52263116,Near Southeast,Entire home/apt,2,1.0,200,50,0,NaN,0,NaN,NaN,2016-12-05,NaN,0,38.879241,-77.008231,1,365,25.049204
7802,52269279,Brightwood Park,Private room,2,1.0,40,50,50,NaN,0,within an hour,94%,2015-06-15,NaN,0,38.939073,-77.028088,5,1125,24.740716
7803,52271085,West End,Entire home/apt,2,1.0,139,0,0,NaN,0,NaN,100%,2020-12-24,NaN,0,38.900117,-77.047827,1,365,25.049204
7804,52281658,Edgewood,Entire home/apt,7,2.0,134,0,100,NaN,0,within an hour,94%,2019-05-05,NaN,0,38.912933,-77.013079,2,1125,25.049204

Q32. **Create a column `'count_ratings_by_bedroom_accomodates'` to get the `count of ratings` grouped by `bedrooms` and `accomodates`.**

Q33. **Create a column `'avg_acc_room_sec_dep'` to get the `average` number of people that can be `accomodated` for each `room type` and the `security deposit`.**

In [27]:

prop_df['avg_acc_room_sec_dep'] = prop_df.groupby(['room_type','security_deposit'])[['accommodates']].transform('mean')

In [28]:
prop_df

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,...,acceptance_rate,host_since,last_review,num_reviews,latitude,longitude,minimum_nights,maximum_nights,avg_reviews_by_room_superhost,avg_acc_room_sec_dep
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,...,67%,2008-11-26,2021-08-09,76,38.863390,-76.988890,2,365,24.740716,1.849776
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,...,NaN,2008-12-12,2021-09-11,434,38.911950,-77.004560,2,1125,24.740716,2.054575
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,...,NaN,2008-12-30,2019-07-05,102,38.905850,-76.944690,30,180,24.740716,1.849776
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,...,85%,2009-01-26,2016-09-22,31,38.914090,-76.993680,2,365,64.351899,2.054575
4,5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,...,11%,2009-01-13,2020-03-05,95,38.918870,-77.040080,5,24,25.049204,3.934807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7800,52261187,Downtown,Entire home/apt,2,1.0,299,0,50,NaN,0,...,100%,2021-02-13,NaN,0,38.904860,-77.030900,1,365,25.049204,3.981081
7801,52263116,Near Southeast,Entire home/apt,2,1.0,200,50,0,NaN,0,...,NaN,2016-12-05,NaN,0,38.879241,-77.008231,1,365,25.049204,3.934807
7802,52269279,Brightwood Park,Private room,2,1.0,40,50,50,NaN,0,...,94%,2015-06-15,NaN,0,38.939073,-77.028088,5,1125,24.740716,2.054575
7803,52271085,West End,Entire home/apt,2,1.0,139,0,0,NaN,0,...,100%,2020-12-24,NaN,0,38.900117,-77.047827,1,365,25.049204,3.981081
7804,52281658,Edgewood,Entire home/apt,7,2.0,134,0,100,NaN,0,...,94%,2019-05-05,NaN,0,38.912933,-77.013079,2,1125,25.049204,3.981081

Q34. **Create a column `'min_price_bedroom_acc_cl_fee'` to get the `minimum price` for each category of `bedrooms`, `accomodates` and `cleaning fee`.**

In [29]:

prop_df['min_price_bedroom_acc_cl_fee'] = prop_df.groupby(['bedrooms','accommodates','cleaning_fee'])[['price']].transform('min')

In [30]:
prop_df

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,...,host_since,last_review,num_reviews,latitude,longitude,minimum_nights,maximum_nights,avg_reviews_by_room_superhost,avg_acc_room_sec_dep,min_price_bedroom_acc_cl_fee
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,...,2008-11-26,2021-08-09,76,38.863390,-76.988890,2,365,24.740716,1.849776,23
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,...,2008-12-12,2021-09-11,434,38.911950,-77.004560,2,1125,24.740716,2.054575,20
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,...,2008-12-30,2019-07-05,102,38.905850,-76.944690,30,180,24.740716,1.849776,10
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,...,2009-01-26,2016-09-22,31,38.914090,-76.993680,2,365,64.351899,2.054575,10
4,5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,...,2009-01-13,2020-03-05,95,38.918870,-77.040080,5,24,25.049204,3.934807,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7800,52261187,Downtown,Entire home/apt,2,1.0,299,0,50,NaN,0,...,2021-02-13,NaN,0,38.904860,-77.030900,1,365,25.049204,3.981081,25
7801,52263116,Near Southeast,Entire home/apt,2,1.0,200,50,0,NaN,0,...,2016-12-05,NaN,0,38.879241,-77.008231,1,365,25.049204,3.934807,20
7802,52269279,Brightwood Park,Private room,2,1.0,40,50,50,NaN,0,...,2015-06-15,NaN,0,38.939073,-77.028088,5,1125,24.740716,2.054575,25
7803,52271085,West End,Entire home/apt,2,1.0,139,0,0,NaN,0,...,2020-12-24,NaN,0,38.900117,-77.047827,1,365,25.049204,3.981081,20
7804,52281658,Edgewood,Entire home/apt,7,2.0,134,0,100,NaN,0,...,2019-05-05,NaN,0,38.912933,-77.013079,2,1125,25.049204,3.981081,100

Q35. **Create a column `'avg_min_nights'` to get the `average minimum nights` for each `response time`, `room_type` and `superhost`.**

In [31]:

prop_df['avg_min_nights'] = prop_df.groupby(['response_time','room_type','superhost'])[['minimum_nights']].transform('mean')

In [32]:
prop_df

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,...,last_review,num_reviews,latitude,longitude,minimum_nights,maximum_nights,avg_reviews_by_room_superhost,avg_acc_room_sec_dep,min_price_bedroom_acc_cl_fee,avg_min_nights
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,...,2021-08-09,76,38.863390,-76.988890,2,365,24.740716,1.849776,23,14.924242
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,...,2021-09-11,434,38.911950,-77.004560,2,1125,24.740716,2.054575,20,1.375000
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,...,2019-07-05,102,38.905850,-76.944690,30,180,24.740716,1.849776,10,6.387931
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,...,2016-09-22,31,38.914090,-76.993680,2,365,64.351899,2.054575,10,4.720183
4,5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,...,2020-03-05,95,38.918870,-77.040080,5,24,25.049204,3.934807,31,9.300341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7800,52261187,Downtown,Entire home/apt,2,1.0,299,0,50,NaN,0,...,NaN,0,38.904860,-77.030900,1,365,25.049204,3.981081,25,1.375000
7801,52263116,Near Southeast,Entire home/apt,2,1.0,200,50,0,NaN,0,...,NaN,0,38.879241,-77.008231,1,365,25.049204,3.934807,20,1.375000
7802,52269279,Brightwood Park,Private room,2,1.0,40,50,50,NaN,0,...,NaN,0,38.939073,-77.028088,5,1125,24.740716,2.054575,25,11.871308
7803,52271085,West End,Entire home/apt,2,1.0,139,0,0,NaN,0,...,NaN,0,38.900117,-77.047827,1,365,25.049204,3.981081,20,1.375000
7804,52281658,Edgewood,Entire home/apt,7,2.0,134,0,100,NaN,0,...,NaN,0,38.912933,-77.013079,2,1125,25.049204,3.981081,100,18.762457

Q36. **Create a column `'count_resp_time'` to get the `count of response_time` for each `neighborhood` and by `superhost`.**

In [33]:

prop_df['count_resp_time'] =prop_df.groupby(['neighborhood','superhost'])[['response_time']].transform('count')

In [34]:
prop_df

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,...,num_reviews,latitude,longitude,minimum_nights,maximum_nights,avg_reviews_by_room_superhost,avg_acc_room_sec_dep,min_price_bedroom_acc_cl_fee,avg_min_nights,count_resp_time
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,...,76,38.863390,-76.988890,2,365,24.740716,1.849776,23,14.924242,37
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,...,434,38.911950,-77.004560,2,1125,24.740716,2.054575,20,1.375000,174
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,...,102,38.905850,-76.944690,30,180,24.740716,1.849776,10,6.387931,13
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,...,31,38.914090,-76.993680,2,365,64.351899,2.054575,10,4.720183,140
4,5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,...,95,38.918870,-77.040080,5,24,25.049204,3.934807,31,9.300341,141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7800,52261187,Downtown,Entire home/apt,2,1.0,299,0,50,NaN,0,...,0,38.904860,-77.030900,1,365,25.049204,3.981081,25,1.375000,192
7801,52263116,Near Southeast,Entire home/apt,2,1.0,200,50,0,NaN,0,...,0,38.879241,-77.008231,1,365,25.049204,3.934807,20,1.375000,38
7802,52269279,Brightwood Park,Private room,2,1.0,40,50,50,NaN,0,...,0,38.939073,-77.028088,5,1125,24.740716,2.054575,25,11.871308,187
7803,52271085,West End,Entire home/apt,2,1.0,139,0,0,NaN,0,...,0,38.900117,-77.047827,1,365,25.049204,3.981081,20,1.375000,175
7804,52281658,Edgewood,Entire home/apt,7,2.0,134,0,100,NaN,0,...,0,38.912933,-77.013079,2,1125,25.049204,3.981081,100,18.762457,174

Q37. **Get the `average number of reviews` for each `room_type` and `superhost` along with `response time` in the columns.**

In [35]:

prop_df['avg_reviews_by_room_superhost'] = prop_df.groupby(['room_type','superhost'])[['num_reviews']].transform('mean')

In [36]:
prop_df

,id,neighborhood,room_type,accommodates,bedrooms,price,security_deposit,cleaning_fee,rating,superhost,...,num_reviews,latitude,longitude,minimum_nights,maximum_nights,avg_reviews_by_room_superhost,avg_acc_room_sec_dep,min_price_bedroom_acc_cl_fee,avg_min_nights,count_resp_time
0,3686,Historic Anacostia,Private room,1,1.0,55,25,25,4.60,0,...,76,38.863390,-76.988890,2,365,24.740716,1.849776,23,14.924242,37
1,3943,Edgewood,Private room,2,1.0,71,50,0,4.81,0,...,434,38.911950,-77.004560,2,1125,24.740716,2.054575,20,1.375000,174
2,4529,Eastland Gardens,Private room,4,1.0,54,25,50,4.66,0,...,102,38.905850,-76.944690,30,180,24.740716,1.849776,10,6.387931,13
3,4967,Edgewood,Private room,1,1.0,99,50,0,4.74,1,...,31,38.914090,-76.993680,2,365,64.351899,2.054575,10,4.720183,140
4,5589,Kalorama Heights,Entire home/apt,3,1.0,99,50,0,4.54,0,...,95,38.918870,-77.040080,5,24,25.049204,3.934807,31,9.300341,141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7800,52261187,Downtown,Entire home/apt,2,1.0,299,0,50,NaN,0,...,0,38.904860,-77.030900,1,365,25.049204,3.981081,25,1.375000,192
7801,52263116,Near Southeast,Entire home/apt,2,1.0,200,50,0,NaN,0,...,0,38.879241,-77.008231,1,365,25.049204,3.934807,20,1.375000,38
7802,52269279,Brightwood Park,Private room,2,1.0,40,50,50,NaN,0,...,0,38.939073,-77.028088,5,1125,24.740716,2.054575,25,11.871308,187
7803,52271085,West End,Entire home/apt,2,1.0,139,0,0,NaN,0,...,0,38.900117,-77.047827,1,365,25.049204,3.981081,20,1.375000,175
7804,52281658,Edgewood,Entire home/apt,7,2.0,134,0,100,NaN,0,...,0,38.912933,-77.013079,2,1125,25.049204,3.981081,100,18.762457,174

Q38. **Get the `count of ratings` grouped by `bedrooms` and `accomodates` in the columns.**

In [37]:

prop_df.groupby(['bedrooms','accommodates'])[['rating']].count().reset_index()

    bedrooms  accommodates  rating
0        1.0             1     414
1        1.0             2    1617
2        1.0             3     528
3        1.0             4     818
4        1.0             5      62
..       ...           ...     ...
67       7.0             7       0
68       7.0            12       1
69       7.0            16       2
70       8.0            16       1
71       9.0            16       2

[72 rows x 3 columns]

Q39. **What is the `average` number of people that can be `accomodated` for each `room type` and the `security deposit` in the `columns`.**

Q40. **What is the `minimum price` for each category of `bedrooms` and by the `accomodates` and `cleaning fee` in the `columns`.**

Q41. **What is the `average minimum nights` for each `response time` and for each `room_type` and `superhost` in the `columns`.**

Q42. **Get the count of `response_time` for each `neighborhood` and by `superhost` in the `columns`.**

Q43. **`Melt` the `result` of `Q37` to a normal DataFrame.**

Q44. **`Melt` the `result` of `Q38` to a normal DataFrame.**

Q45. **`Melt` the `result` of `Q39` to a normal DataFrame.**

Q46. **`Melt` the `result` of `Q40` to a normal DataFrame.**

Q47. **`Melt` the `result` of `Q41` to a normal DataFrame.**

Q48. **`Melt` the `result` of `Q42` to a normal DataFrame.**

Q49. **`Pivot` the `result` of `Q25` to match the `results` of `Q37`.**

Q50. **`Pivot` the `result` of `Q26` to match the `results` of `Q38`.**

Q51. **`Pivot` the `result` of `Q27` to match the `results` of `Q39`.**

Q52. **`Pivot` the `result` of `Q28` to match the `results` of `Q40`.**

Q53. **`Pivot` the `result` of `Q29` to match the `results` of `Q41`.**

Q54. **`Pivot` the `result` of `Q30` to match the `results` of `Q42`.**

***The End***